<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid nesciunt, aut facere quis at velit eius laudantium eveniet doloribus unde! Doloremque fugiat quis dignissimos reprehenderit laboriosam doloribus maxime vitae praesentium?
      </p>
    </section>
    <address>
      <h2 class="footer__title">Contato</h2>
      <ul>
        <li>Email email@email.com</li>
        <li>Telefone (00) 0000-0000</li>
        <li>WhatsApp (00) 0000-0000</li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">
    &copy; Todos os direitos reservados
  </section>
</footer>
